body {
    font-family: 'Merryweather', serif;
    background: linear-gradient(to top,red,black); 
    color: #d4c92f;
}

.navbar {
    background: linear-gradient(to right,red,black);
    text-align: center;
}

.navbar-brand {
    color: #000000;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #000000;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #000000;
}

section {
    min-height: calc(100vh - 120px); /* Mínima altura de la sección para ocupar el espacio restante de la ventana */
    display: none;
    padding: 50px 0;
    box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
}

section.active {
    display: block; /* Muestra solo la sección activa */
}

h1, h2, h3, h4, h5, h6 {
    color: #d4c92f;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.happy-mask {
    margin-right: 10px;
  }
  
  .sad-mask {
    margin-left: 10px;
  }

.btn {
    color: #fff;
}

.carousel-item img {
    height: 300px; /* Establece la altura deseada para las imágenes */
    width: auto; /* Hace que el ancho sea automático para mantener la proporción */
}

.btn-primary {
    background-color: #212529; /* Color de fondo del botón primario */
    border-color: #212529; /* Color del borde del botón primario */
}

.btn-primary:hover {
    background-color: #343a40; /* Color de fondo del botón primario al pasar el ratón */
    border-color: #343a40; /* Color del borde del botón primario al pasar el ratón */
}

.btn-secondary {
    background-color: gold; /* Color de fondo del botón secundario */
    border-color: gold; /* Color del borde del botón secundario */
}

.btn-secondary:hover {
    background-color: #ffd700; /* Color de fondo del botón secundario al pasar el ratón */
    border-color: #ffd700; /* Color del borde del botón secundario al pasar el ratón */
}

/* Estilos específicos para el modal de contacto */

.modal {
    display: none; /* Por defecto el modal está oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Pone el modal por encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con transparencia */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color:#2c333a
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.social-media .btn {
    border-radius: 100%; /* Bordes redondeados */
    width: 60px; /* Tamaño uniforme */
    height: 57px; /* Tamaño uniforme */
    padding: 0px; /* Espacio alrededor del icono */
}

.social-media img {
    width: 60px;
    max-width: 100%; /* Asegura que la imagen no exceda el tamaño del botón */
    max-height: 100%; /* Asegura que la imagen no exceda el tamaño del botón */
    border-radius: 50%; /* Bordes redondeados */
}

.footer {
    color: #fff; /* Color del texto */
    text-align: center; /* Texto centrado */
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Espaciado interior */
    margin-top: 20px; /* Margen superior para separarlo del contenido anterior */
}

.footer:before {
    content: "\00a9";
    margin-right: 5px;
}

.footer-container {
    margin-bottom: 20px; /* Margen inferior añadido al contenedor del footer */
}